@{
    ViewBag.Title = "Confirmation";
}

<div class="card">
    <div class="card-header">
        <h4 class="text-center">We have recorded your submission, thank you!</h4>
    </div>
    <div class="card-body">
        <p>Feel free to use navigation to explore the rest of the site, or click below to list the movies!</p>
        <a class="btn btn-outline-primary" asp-controller="Home" asp-action="List_Movies">List Movies</a>
    </div>
</div>
