@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}


<div class="card">
    <div class="card-header">
        <h4 class="text-center">Pictured below is Joel Hilton</h4>
    </div>
    <div class="card-body">
        <img src="~/joelhilton.jpg" />
        <p>He loves movies so feel free to browse his collection and add your own!</p>
    </div>
</div>

