@{
    ViewBag.Title = "My Podcasts";
}

<body>
    


</body>

<div class="card">
    <div class="card-header">
        <h4 class="text-center">Like Podcasts?</h4>
    </div>
    <div class="card-body">
        <a href="https://baconsale.com/">Click to visit the Baconsale website to listen to a wonderful podcast!!</a>
    </div>
</div>

